In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/TeamLab/machine_learning_from_scratch_with_python/master/code/ch12/titanic/train.csv")
df

# 성별별 승객호실등급별 생존률과 생존자들의 연령평균을 피벗한다.

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df1 = df.iloc[:, [1,2,4,5]]
df1.head(4)

# dtype은 체크를 해줘야 한다. 
#

   Survived  Pclass     Sex   Age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 28.0+ KB

In [12]:
df1.describe()
# object가 아닌 숫자형 열들의 정보를 보여준다.
# 총개수, 평균, 최솟값 등...

         Survived      Pclass         Age
count  891.000000  891.000000  714.000000
mean     0.383838    2.308642   29.699118
std      0.486592    0.836071   14.526497
min      0.000000    1.000000    0.420000
25%      0.000000    2.000000   20.125000
50%      0.000000    3.000000   28.000000
75%      1.000000    3.000000   38.000000
max      1.000000    3.000000   80.000000

In [15]:
df1["Survived"].unique()

array([0, 1])

In [17]:
df1["Pclass"]

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [21]:
df1 = df1.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Pclass    714 non-null    int64
 2   Sex       714 non-null    object
 3   Age       714 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.9+ KB

In [42]:
df2 = df1.pivot_table("Survived", index = "Pclass", columns = "Sex", aggfunc = "mean")

In [38]:
!pip install pandas-bokeh

Requirement already satisfied: pandas-bokeh in /Users/haneul/anaconda3/lib/python3.10/site-packages (0.5.5)
Requirement already satisfied: bokeh>=2.0 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from pandas-bokeh) (2.4.3)
Requirement already satisfied: pandas>=0.22.0 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from pandas-bokeh) (1.5.3)
Requirement already satisfied: packaging>=16.8 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (22.0)
Requirement already satisfied: typing-extensions>=3.10.0 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (4.4.0)
Requirement already satisfied: Jinja2>=2.9 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (3.1.2)
Requirement already satisfied: numpy>=1.11.3 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (1.23.5)
Requirement already satisfied: pillow>=7.1.0 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (9.4.0)
Requirement already satisfied: tornado>=5.1 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (6.1)
Requirement already satisfied: PyYAML>=3.10 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from bokeh>=2.0->pandas-bokeh) (6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from pandas>=0.22.0->pandas-bokeh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from pandas>=0.22.0->pandas-bokeh) (2022.7)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from Jinja2>=2.9->bokeh>=2.0->pandas-bokeh) (2.1.1)
Requirement already satisfied: six>=1.5 in /Users/haneul/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.22.0->pandas-bokeh) (1.16.0)

In [40]:
import pandas_bokeh

In [45]:
df2.plot_bokeh(kind = "bar")

Figure(id='1478', ...)

In [48]:
df1.pivot_table("Age", index = ["Pclass", "Sex"], columns = "Survived", aggfunc = "mean" )

Survived               0          1
Pclass Sex
1      female  25.666667  34.939024
       male    44.581967  36.248000
2      female  36.000000  28.080882
       male    33.369048  16.022000
3      female  23.818182  19.329787
       male    27.255814  22.274211