In [23]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/"
                 "panda-kim/pandas/main/merge_asof_01.csv")
df1 = df[df["분류"] == "df1"].iloc[:,[0,2,3]].sort_values("수량")
df2 = df[df["분류"] == "df2"].iloc[:,[0,2]].sort_values("수량").reset_index(drop=True)
df3 = df[df["분류"] == "df3"].iloc[:, :4].sort_values("수량").reset_index(drop=True)
df4 = df[df["분류"] == "df4"].iloc[:, :3].sort_values("수량").reset_index(drop=True)

In [17]:
df

    사이즈   종류     수량     단가   분류
0    A4  NaN    1.0  100.0  df1
1    A3  NaN    1.0  200.0  df1
2    B5  NaN    1.0   80.0  df1
3    A4  NaN   10.0   90.0  df1
4    A3  NaN   10.0  180.0  df1
..   ..  ...    ...    ...  ...
231  B5   컬러  948.0    NaN  df4
232  B5  풀컬러  960.0    NaN  df4
233  A4   컬러  962.0    NaN  df4
234  B5   컬러  973.0    NaN  df4
235  A4  풀컬러  975.0    NaN  df4

[236 rows x 5 columns]

In [9]:
df1 = df1.sort_values("수량")
df1

   사이즈      수량     단가
0   A4     1.0  100.0
1   A3     1.0  200.0
2   B5     1.0   80.0
3   A4    10.0   90.0
4   A3    10.0  180.0
5   B5    10.0   70.0
6   A3    50.0  150.0
7   A4   100.0   70.0
8   B5   100.0   60.0
9   A4   500.0   50.0
10  B5   500.0   40.0
11  B5  1000.0   20.0

In [12]:
df2 = df2.sort_values("수량")
df2

   사이즈     수량
0   A3   10.0
1   A4   10.0
2   A4   29.0
3   A3   50.0
4   A3   55.0
..  ..    ...
95  B5  948.0
96  B5  960.0
97  A4  962.0
98  B5  973.0
99  A4  975.0

[100 rows x 2 columns]

In [36]:
df5 = pd.merge_asof(df2, df1, on = "수량", by = "사이즈")
# on: 완전히 일치되지 않는 값으로 병합의 기준이 되는 열
# by: 완전히 일치되는 값으로 병합으 기준이 되는 열
df5["금액"] = df5["수량"] * df5["단가"]
df5

   사이즈     수량     단가       금액
0   A3   10.0  180.0   1800.0
1   A4   10.0   90.0    900.0
2   A4   29.0   90.0   2610.0
3   A3   50.0  150.0   7500.0
4   A3   55.0  150.0   8250.0
..  ..    ...    ...      ...
95  B5  948.0   40.0  37920.0
96  B5  960.0   40.0  38400.0
97  A4  962.0   50.0  48100.0
98  B5  973.0   40.0  38920.0
99  A4  975.0   50.0  48750.0

[100 rows x 4 columns]

In [45]:
df3

   사이즈   종류      수량     단가
0   A4   컬러     1.0  100.0
1   B5  풀컬러     1.0  160.0
2   B5   컬러     1.0   80.0
3   A3   컬러     1.0  200.0
4   A3  풀컬러     1.0  400.0
5   A4  풀컬러     1.0  200.0
6   A3  풀컬러    10.0  360.0
7   A3   컬러    10.0  180.0
8   B5   컬러    10.0   70.0
9   B5  풀컬러    10.0  140.0
10  A4  풀컬러    10.0  180.0
11  A4   컬러    10.0   90.0
12  A3   컬러    50.0  150.0
13  A3  풀컬러    50.0  160.0
14  B5  풀컬러   100.0  120.0
15  B5   컬러   100.0   60.0
16  A4   컬러   100.0   70.0
17  A4  풀컬러   100.0  140.0
18  B5   컬러   500.0   40.0
19  A4   컬러   500.0   50.0
20  A4  풀컬러   500.0  100.0
21  B5  풀컬러   500.0   80.0
22  B5   컬러  1000.0   20.0
23  B5  풀컬러  1000.0   50.0

In [44]:
df4

   사이즈   종류     수량
0   A3  풀컬러   10.0
1   A4   컬러   10.0
2   A4  풀컬러   29.0
3   A3  풀컬러   50.0
4   A3   컬러   55.0
..  ..  ...    ...
95  B5   컬러  948.0
96  B5  풀컬러  960.0
97  A4   컬러  962.0
98  B5   컬러  973.0
99  A4  풀컬러  975.0

[100 rows x 3 columns]

In [51]:
df5 = pd.merge_asof(df3, df4, on="수량", by=["사이즈", "종류"])
df5["총액"] = df5["단가"] * df["수량"]
df5

   사이즈   종류      수량     단가       총액
0   A4   컬러     1.0  100.0    100.0
1   B5  풀컬러     1.0  160.0    160.0
2   B5   컬러     1.0   80.0     80.0
3   A3   컬러     1.0  200.0   2000.0
4   A3  풀컬러     1.0  400.0   4000.0
5   A4  풀컬러     1.0  200.0   2000.0
6   A3  풀컬러    10.0  360.0  18000.0
7   A3   컬러    10.0  180.0  18000.0
8   B5   컬러    10.0   70.0   7000.0
9   B5  풀컬러    10.0  140.0  70000.0
10  A4  풀컬러    10.0  180.0  90000.0
11  A4   컬러    10.0   90.0  90000.0
12  A3   컬러    50.0  150.0   1500.0
13  A3  풀컬러    50.0  160.0   1600.0
14  B5  풀컬러   100.0  120.0   3480.0
15  B5   컬러   100.0   60.0   3000.0
16  A4   컬러   100.0   70.0   3850.0
17  A4  풀컬러   100.0  140.0   8960.0
18  B5   컬러   500.0   40.0   3000.0
19  A4   컬러   500.0   50.0   3950.0
20  A4  풀컬러   500.0  100.0   7900.0
21  B5  풀컬러   500.0   80.0   6400.0
22  B5   컬러  1000.0   20.0   2000.0
23  B5  풀컬러  1000.0   50.0   6600.0