In [1]:
import pandas as pd
import numpy as np
a1 = [60, 84, 80, 70, "문예부"]
a2 = [77, 62, 95, 85, "과학부"]
a3 = [61, 97, 72, np.nan, "농구부"]
a4 = [75, 65, 95, np.nan, "다도부"]
cols = ["국어", "영어", "수학", "과학", "소속"]
b1 = ["문예부", "과학부", "다도부"]
df = pd.DataFrame([a1, a2, a3, a4], index=list("ABCD"), columns=cols)

In [2]:
s1 = ["B", "D"]
df.loc[s1]

   국어  영어  수학    과학   소속
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [3]:
s1 = [ False, True, False, True]
df.loc[s1]
# boolean indexing: True, False의 bool자료형으로 하는 indexing

   국어  영어  수학    과학   소속
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [17]:
df.loc[df["영어"] >80]

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
C  61  97  72   NaN  농구부

In [25]:
cond1 = (df["국어"] > 60) 
cond2 = (df["수학"] > 75)  # Using the '&' operator for element-wise 'and' condition
df.loc[cond1]
# 조건문으로 변수를 지정하는 습관을 들이도록 하자.

   국어  영어  수학    과학   소속
B  77  62  95  85.0  과학부
C  61  97  72   NaN  농구부
D  75  65  95   NaN  다도부

In [26]:
df.loc[cond1 & cond2]

   국어  영어  수학    과학   소속
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [27]:
df["과학"].isnull()

A    False
B    False
C     True
D     True
Name: 과학, dtype: bool

In [33]:
# C는 결석자, D는 수학이 90점 이상이라 과학시험 면제자
df.loc[(~df["과학"].isnull()) | (df["수학"] > 90) ]
# 단수히 삭제만 시킬때는 dropNa가 필요한데 nan값으로 여러가지 조건이랑 결합할 때 Isnull필요

   국어  영어  수학    과학   소속
A  60  84  80  70.0  문예부
B  77  62  95  85.0  과학부
D  75  65  95   NaN  다도부

In [34]:
b1

['문예부', '과학부', '다도부']

In [35]:
df['소속'].isin(b1)]

SyntaxError: ignored