In [ ]:
import pandas as pd
df1 = pd.DataFrame([["파이전자", 20, 30, 30, 40, "반도체"], 
                   ["썬닉스", 100, 90, 80, 100, "반도체"], 
                   ["판다센", 300, 320, 340, 0, "게임"], 
                   ["스마블", 0, 450, 300, 300, "게임"]], 
                  columns=["종목", "A팀", "B팀", "C팀", "D팀", "분류"])
s1 = pd.Series([35000, 10000, 2000, 5000], index=list(df1["종목"]))
df2 = df1.set_index("종목").iloc[:,:4].mul(s1, axis=0)
df2 = df2.reindex(["D팀", "C팀", "B팀", "A팀", "분류"], axis=1).reset_index()
df2["분류"] = df1["분류"]

In [ ]:
df1

     종목   A팀   B팀   C팀   D팀   분류
0  파이전자   20   30   30   40  반도체
1   썬닉스  100   90   80  100  반도체
2   판다센  300  320  340    0   게임
3   스마블    0  450  300  300   게임

In [ ]:
df1.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df1.columns

Index(['종목', 'A팀', 'B팀', 'C팀', 'D팀', '분류'], dtype='object')

In [ ]:
# df.set_index(값, drop = bool, append = bool, inplace = bool)
df1.set_index(["분류","종목"])

           A팀   B팀   C팀   D팀
분류  종목
반도체 파이전자   20   30   30   40
    썬닉스   100   90   80  100
게임  판다센   300  320  340    0
    스마블     0  450  300  300

In [ ]:
df1.set_index(["분류","종목"], drop = False) 
# Drop은 인덱스로 지정한 열을 삭제하는 것이다. default가 true다.

            종목   A팀   B팀   C팀   D팀   분류
분류  종목
반도체 파이전자  파이전자   20   30   30   40  반도체
    썬닉스    썬닉스  100   90   80  100  반도체
게임  판다센    판다센  300  320  340    0   게임
    스마블    스마블    0  450  300  300   게임

In [ ]:
df1.set_index(["분류","종목"], append = True) 
# 기존에 있던 인덱스가 살아났다.

             A팀   B팀   C팀   D팀
  분류  종목
0 반도체 파이전자   20   30   30   40
1 반도체 썬닉스   100   90   80  100
2 게임  판다센   300  320  340    0
3 게임  스마블     0  450  300  300

In [25]:
# df.reset_index(level = none, drop = bool, inplace = bool)

df3 = df1.loc[df1["종목"] != "판다센"]
#빼는건 성공했는데 인덱스가 생겼다. 리셋이 필요해
df3.reset_index(drop=True)

     종목   A팀   B팀   C팀   D팀   분류
0  파이전자   20   30   30   40  반도체
1   썬닉스  100   90   80  100  반도체
2   스마블    0  450  300  300   게임

In [29]:
 df3.T
 # 컬럼과 인덱스가 바뀐다.

       0    1    3
종목  파이전자  썬닉스  스마블
A팀    20  100    0
B팀    30   90  450
C팀    30   80  300
D팀    40  100  300
분류   반도체  반도체   게임

In [32]:
 df3.T. reset_index().T
 # 더블 전치행렬을 사용하면 인덱스를 columns에도 적용이 가능하다.

          0    1    2    3    4    5
index    종목   A팀   B팀   C팀   D팀   분류
0      파이전자   20   30   30   40  반도체
1       썬닉스  100   90   80  100  반도체
3       스마블    0  450  300  300   게임

In [37]:
df1.reindex(columns = ["종목","A팀","C팀","B팀", "D팀","분류"])

#너무 귀찮은데?

     종목   D팀   C팀   B팀   A팀   분류
0  파이전자   40   30   30   20  반도체
1   썬닉스  100   80   90  100  반도체
2   판다센    0  340  320  300   게임
3   스마블  300  300  450    0   게임

In [38]:
df1.reindex(columns = df2.columns)

     종목   D팀   C팀   B팀   A팀   분류
0  파이전자   40   30   30   20  반도체
1   썬닉스  100   80   90  100  반도체
2   판다센    0  340  320  300   게임
3   스마블  300  300  450    0   게임

In [41]:
df1.reindex(columns=["A팀","B팀","A팀","E팀"])
# 오 슬라이싱 처럼 쓸 수 있네 
# 칼럼 E는 없는 값인데 가능하네? fill_value써야겠다.

    A팀   B팀   A팀  E팀
0   20   30   20 NaN
1  100   90  100 NaN
2  300  320  300 NaN
3    0  450    0 NaN

In [42]:
df1.reindex(columns=["A팀","B팀","A팀","E팀"], fill_value = 0)

    A팀   B팀   A팀  E팀
0   20   30   20   0
1  100   90  100   0
2  300  320  300   0
3    0  450    0   0

In [44]:
df1.rename(columns = {"A팀":"Ai팀", "B팀":"주식1팀"})

     종목  Ai팀  주식1팀   C팀   D팀   분류
0  파이전자   20    30   30   40  반도체
1   썬닉스  100    90   80  100  반도체
2   판다센  300   320  340    0   게임
3   스마블    0   450  300  300   게임

In [47]:
df1.index = [1,2,3,4]
df1

     종목   A팀   B팀   C팀   D팀   분류
1  파이전자   20   30   30   40  반도체
2   썬닉스  100   90   80  100  반도체
3   판다센  300  320  340    0   게임
4   스마블    0  450  300  300   게임

In [48]:
df2

     종목       D팀       C팀       B팀       A팀   분류
0  파이전자  1400000  1050000  1050000   700000  반도체
1   썬닉스  1000000   800000   900000  1000000  반도체
2   판다센        0   680000   640000   600000   게임
3   스마블  1500000  1500000  2250000        0   게임

In [51]:
df2.sort_index(axis = 1, ascending = False)

# asis =1은 칼럼을 의마합니다. 가로
# 필요할 때가 있을꺼임

     종목   분류       D팀       C팀       B팀       A팀
0  파이전자  반도체  1400000  1050000  1050000   700000
1   썬닉스  반도체  1000000   800000   900000  1000000
2   판다센   게임        0   680000   640000   600000
3   스마블   게임  1500000  1500000  2250000        0